*{

}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(2px);
    height: 100vh;
    background: rgb(255, 255, 255);
  
   
}
#calculater{
    font-family: arial, sans-serif;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    max-width: 400px;
    
}

#display{
    width: 100%;
    padding: 10px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 2px 3px 3px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 9fr);
    gap: 9px;
}

button{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background-color: hsl(0, 0%, 0%);
        color: white;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{ 
    background-color: hsl(35, 100%, 65%);
}
.operator-btn.active{
    background-color: hsl(35, 100%, 75%);
}

h1 {
    font-size: 15px;
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace; 
}

@media only screen and (max-width: 430px) {
    #calculater{
        max-width: 300px;

    }
  }
